.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/AdmFinanceiroPessoal/FileContentIndex/e3f37d5b-e64d-4eca-8048-f056facd40db.vsidx
.vs/AdmFinanceiroPessoal/FileContentIndex/read.lock
.vs/AdmFinanceiroPessoal/v17/.wsuo
frontend/package-lock.json
